<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HowAreYou</name>
    <description>
        Tracks how you have been over time.
    </description>
    <author email="glenn.saqui+tracking@gmail.com">
        Glenn Saqui
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
